.h2{
    line-height: 3rem;
}

@media (max-width: 768px) {
    .h2{
        line-height: 2rem;
    }
    
}

@media screen and (width >= 1135px) {
    .h2{
        line-height: 3.2rem;
    }
    
}

.h3{
    line-height: 3.5rem;
}

@media (max-width: 768px) {
    .h3{
        line-height: 2.4rem;
    }
    
}

@media screen and (width >= 1135px) {
    .h3{
        line-height: 4.6rem;
    }
    
}